<h1>Members</h1>
<div class="headline">
    <form action="/members/new" method="get">
        <input class="add" type='submit' value="Add Member">
    </form>
</div>
<table class="tables-layout">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Status</th>
    <th>Membership</th>
    <th>Actions</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><%= member.format_name %></td>
    <td><%= member.email %></td>
    <td><%= member.mobile %></td>
    <td><%= member.status %></td>
    <td><%= member.membership %></td>
    <td>
        <div class="center">
          <form action="" method="get">
              <input class="action" type='submit' value="Book">
          </form>
          <form action="/members/<%= member.id %>/edit" method="get">
              <input class="action" type='submit' value="Edit">
          </form>   
        </div>
    </td>
  </tr>
  <% end %>
</table>