<h1>Members</h1>
<div class="search">
<form action="/members" method="get">
    <label for="first-name-field">First Name:</label>
    <input  class="search-text" type="text" name="first_name" placeholder="Search.." id="first-name-field"/>

    <label for="surname-field">Surname:</label>
    <input  class="search-text" type="text" name="surname" placeholder="Search.." id="surname-field"/>

    <label for="mobile-field">Mobile:</label>
    <input class="search-text" type="text" name="mobile" placeholder="Search.." id="mobile-field"/>

    <input class="add" type='submit' value="Search">
  </form>
</div>
<div class="headline">
  <form action="/members/new" method="get">
    <input class="add" type='submit' value="Add Member">
  </form>
</div>
<table class="tables-layout">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Status</th>
    <th>Membership</th>
    <th>Actions</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><%= member.format_name %></td>
    <td><%= member.email %></td>
    <td><%= member.mobile %></td>
    <td><%= member.status %></td>
    <td><%= member.membership %></td>
    <td>
        <div class="center">
          <form action="/members/<%= member.id %>/classes" method="get">
              <input class="action" type='submit' value="Classes">
          </form>
          <form action="/members/<%= member.id %>/book_class" method="get">
            <input class="action" type='submit' value="Book" <%= "disabled" if member.status == "Deactivated" %>> 
          </form>
          <form action="/members/<%= member.id %>/edit" method="get">
              <input class="action" type='submit' value="Edit">
          </form>   
        </div>
    </td>
  </tr>
  <% end %>
</table>