<h1>Class Members</h1>

<table class="tables-layout">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Status</th>
    <th>Membership</th>
    <th>Actions</th>
  </tr>
  <% for class_member in @class_members %>
  <tr>
    <td><%= class_member.format_name %></td>
    <td><%= class_member.email %></td>
    <td><%= class_member.mobile %></td>
    <td><%= class_member.status %></td>
    <td><%= class_member.membership %></td>
    <td>
        <div class="center">
          <form action="/sparta_classes/<%= @sparta_class.id %>/<%= class_member.id  %>/remove" method="post">
              <input class="action" type='submit' value="Remove">
          </form>   
        </div>
    </td>
  </tr>
  <% end %>
</table>