<h1>Class Members</h1>
<div class="headline">
    <form method="get" action="/sparta_classes/class_members">
        <input class="back" type='submit' value="Back">
    </form>
</div>
<table class="tables-layout">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Status</th>
    <th>Membership</th>
    <th>Actions</th>
  </tr>
  <% for class_member in @class_members %>
  <tr>
    <td><%= class_member.format_name %></td>
    <td><%= class_member.email %></td>
    <td><%= class_member.mobile %></td>
    <td><%= class_member.status %></td>
    <td><%= class_member.membership %></td>
    <td>
        <div class="center">
          <form action="" method="get">
              <input class="action" type='submit' value="Remove">
          </form>   
        </div>
    </td>
  </tr>
  <% end %>
</table>